.btn-bg {
  color: white;
  padding: 10px;
  background: none;
  border-color: white;
  border-width: 2px;
}


.bgs-gradient {
  background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
      url('https://www.oldsichuan.com.tw/userfiles/images/20210622-%E8%80%81%E5%9B%9B%E5%B7%9D47368-1.jpg');

  background-size: cover;
}
.bgs-gradient2 {
  background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
      url('https://www.oldsichuan.com.tw/img/officialHome/1637304208_bottomBanner.jpg');

      background-size: cover;
}
.bgs-gradient3 {
  background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
      url('https://khh.travel/content/images/static/4-1-food-11.jpg');

      background-size: cover;
}




.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  right: (100% - $carousel-caption-width) / 2;
  //bottom: $carousel-caption-spacer;
  left: (100% - $carousel-caption-width) / 2;
  padding-top: $carousel-caption-padding-y;
  padding-bottom: $carousel-caption-padding-y;
  color: $carousel-caption-color;
  text-align: right;
}


.title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  right: (100% - $carousel-caption-width) / 2;
  //bottom: $carousel-caption-spacer;
  left: (100% - $carousel-caption-width) / 2;
  padding-top: $carousel-caption-padding-y;
  padding-bottom: $carousel-caption-padding-y;
  color: $carousel-caption-color;
  text-align: center;
}